body {
    color: #7f007f;
    font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
    background:#F984E5;
}
P { text-align: center }
h1,h2,h3,h4 {
    text-align: center 
}

.mm, .mmm {
    color:#7f007f;
}
h1 {
    font-size: 250px;
}
.mm {
    font-size: 50px;
}
.mmm {
    font-size: 20px;
}